/* Le fichier app.css contiendra le style global de votre application, */
/* peut inclure des règles pour les éléments de mise en page tels que l'en-tête, */
/* le pied de page et la navigation, ainsi que des règles pour les composants spécifiques de votre application. */

* {
  font-family: "Lora", serif;
  font-size: 17px;
  letter-spacing: 1px;
  line-height: 1.65;
}

body {
  margin: 0px;
}

.flexColumn {
  flex-direction: column;
}

.flexRow {
  flex-direction: row;
}

.section-title {
  font-family: "Rubik", sans-serif;
  font-size: 2.4rem !important;
  font-weight: 600;
  line-height: 1.25;
}

.linked-text {
  color: #898989;
}

.text-align-right {
  text-align: right;
}
.text-align-left {
  text-align: left;
}

@media (max-width: 800px) {
  body {
    min-width: 215px;
  }
  * {
    font-family: "Lora", serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.65;
  }
}
