#footer {
  display: flex;
  background-color: #898989;
  color: white;
  padding-left: 2.5vw;
  padding-right: 2.5vw;
  justify-content: space-between;
  font-weight: 400;

  gap: 1.5vw;
}
#footer strong {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: normal;
}
#footer p {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#footer-info1 {
  display: flex;
  padding-top: 2vw;
  padding-bottom: 2vw;
  gap: 1.5vw;
}

#footer-info1 strong {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
  font-weight: 900;
  font-style: normal;
}
#footer-info1 p {
  font-size: 15px;
  font-family: "Rubik", sans-serif;
}

#footer-addresse {
  text-align: center;
  align-self: center;
}

#footer-telephone-couriel {
  text-align: left;
  align-self: center;
}

#footer-info2 {
  display: flex;
  padding-top: 0.67rem;

  padding-bottom: 0.67rem;

  justify-content: space-around;
  gap: 1.5vw;
}

#footer-info2 div {
  display: flex;

  justify-content: space-between;

  gap: 1.5vw;
}

#footer-zone-de-services-title {
  padding-right: 35px;
}

#footer-zone-de-services {
  align-items: center;
}
#footer-zone-de-services p {
  min-width: 100px;
}
#footer-heure-ouverture {
  align-items: center;
}
#footer-heure-ouverture p {
  min-width: 100px;
}

#footer-button-and-credit {
  display: flex;
  flex-direction: column;
  height: 20vh;
  justify-content: space-between;
}
#footer-button {
  position: relative;
  justify-content: end;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  column-gap: 1.5vw;
  left: -1%;

  height: 90%;
}

#footer-button a {
  height: 30px;
  width: 30px;

  text-align: center;

  border: #232b2b solid 12px;

  border-radius: 100px;
}

#facebook-anchor {
  background-color: white;
  color: #232b2b;
}

#email-anchor {
  background-color: #232b2b;
  color: white;
}

.fa-facebook {
  font-size: 30px;
  padding-top: 15%;
}
.fa-envelope {
  font-size: 30px;
  padding-bottom: 150%;
}

#footer-credit {
  text-align: end;
  font-size: 10px;
  height: 10%;
}
@media (max-width: 800px) {
  #footer {
    flex-direction: column;
  }
  #footer strong {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  #footer p {
    font-size: 12px;
    font-family: "Rubik", sans-serif;
  }

  #footer-info1 {
    flex-direction: row-reverse;
    justify-content: space-around;
  }
  #footer-addresse {
    vertical-align: text-top;
    text-align: end;
  }

  #footer-telephone-couriel {
    text-align: start;
  }
  #footer-info2 {
    display: flex;
    padding-top: 0.67rem;

    padding-bottom: 0.67rem;

    justify-content: space-around;
  }

  #footer-info2 div {
    display: flex;

    justify-content: space-around;
  }

  #footer-zone-de-services {
    text-align: start;
  }
  #footer-heure-ouverture {
    text-align: end;
  }

  #footer-button {
    justify-content: space-around;
    padding-bottom: 20px;
  }
  #footer-credit {
    text-align: end;
    font-size: 10px;
    padding-bottom: 10px;
  }
  #footer-button-and-credit {
    display: flex;
    flex-direction: column;
    height: 10vh;
    justify-content: space-between;
  }
}
