#confiez-nous-vos-projets {
  background-image: url("/equinoxe/public/images/Remplacementponceau4.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  min-width: 100%;
  height: 85vh;

  margin-left: auto !important;
  margin-right: auto !important;
}

#filtre-confiez-nous-vos-projets {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;

  color: white;
  font-weight: bold;

  text-align: center;
}

#filtre-confiez-nous-vos-projets > div {
  position: relative;
  top: 40%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

h1 {
  font-size: 48px !important;
  line-height: 1.1;
  margin-block: 0em;
  margin-inline: 0px;

  letter-spacing: 0px;
}

p {
  margin-block: 0em;
  margin-inline: 0px;
}
button {
  background-color: #898989;
  border: none;
  box-shadow: none;
  font-weight: bold;

  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 26px;
  padding-left: 26px;

  width: fit-content;
}

#filtre-confiez-nous-vos-projets button {
  color: white !important;
}

#votre-entrepreneur-general {
  background-color: #f3f3f3;
}
#votre-entrepreneur-generale-content {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  text-align: center;

  margin-left: auto !important;
  margin-right: auto !important;
  box-sizing: border-box;

  padding-top: 60px;
  padding-bottom: 90px;

  max-width: 1210px;
}

#votre-entrepreneur-generale-content > p {
  margin-top: 20px;
  display: block;
  text-align: justify;

  font-weight: 500;
}

#votre-entrepreneur-generale-content div {
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
  row-gap: 10px;
}
.ButtonExplorerDiv {
  padding-top: 90px;
}

.ButtonExplorer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  box-sizing: border-box;
  line-height: 1.65;

  padding: 20px 30px 30px 30px;
  background-color: white;

  border: solid black 2px;

  min-width: 33%;
}

.ButtonExplorer h2 {
  margin: 0px;
}

.ButtonExplorer p {
  font-family: "Lora", serif;
  font-size: 16px;
  font-weight: 500;
}

.ButtonExplorer button {
  color: white;
  font-family: "Lora", serif;
  font-size: 17px;
  font-weight: 500;
}

#home-nos-services1 {
  display: flex;
  align-items: center;
  row-gap: 2.5rem;

  padding-top: 90px;
  padding-bottom: 90px;
}

#home-nos-services1 h1 {
  font-family: "Rubik", sans-serif;
}
#home-nos-services1 > div {
  display: flex;
  flex-direction: row;
  column-gap: 2.5rem;
}

#home-nos-services1 > div > div {
  display: flex;
  flex-direction: column;
}

#home-nos-services1 > div > div > div {
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  justify-content: space-between;
}

.home-nos-services1-images {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
#home-nos-services1-image1 {
  background-image: url("/equinoxe/public/images/Kenworth\ 12\ Roues+LOGO.png");
  width: 585px;
  height: 330px;
}

#home-nos-services1-image2 {
  background-image: url("/equinoxe/public/images/Pelle\ Caterpillar\ 315-07.jpg");

  width: 272.5px;
  height: 164px;
}

#home-nos-services1-image3 {
  background-image: url("/equinoxe/public/images/Pelle\ Hitachi.jpg");
  background-position: 0px -70px;
  width: 272.5px;
  height: 164px;
}

#home-nos-services1 ul {
  border: solid black 4px;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 80px;
  padding-right: 80px;

  max-width: 415px !important;
  height: 100%;

  background-color: #f3f3f3;
}

#home-nos-services1 li {
  font-size: 17.5px !important;
  line-height: 1.65 !important;
}

#home-big-nos-services2 {
  display: flex;
  justify-content: center;
}
#home-nos-services2 {
  display: grid;
  grid-template-columns: 62.5% 37.5%;
  width: 64%;
  position: relative;
}

#home-nos-services2 > div {
  padding: 20px;
  padding-left: 60px;
  padding-right: 60px;
  height: 100%; /* Assure que les deux éléments ont la même hauteur */
}
#home-nos-services2-content {
  background-color: #f3f3f3;
}

#home-nos-services2-content h2 {
  font-weight: bold;
  font-size: 23px;
}

#home-nos-services2-content h3 {
  font-weight: bold;
  font-size: 17px;
  font-style: italic;
}

#home-nos-services2-content > div {
  display: flex;
}
.Smallerpxfont {
  font-size: 15px;
}

#home-nos-services2-image1 {
  background-image: url("/images/dallc2b7e-2023-04-23-16.00.49-continuation-de-la-foret-e1682280218534.png");
  background-size: cover;
}

#associations-professionnelles {
  background-color: #232b2b;
  color: white;
  margin-top: 100px;
  display: flex;
  align-items: center;

  height: 318px;
  width: 100%;
  justify-content: center;
}

#associations-professionnelles a {
  color: #898989;
}

#associations-professionnelles h2 {
  font-size: 23px;
  margin-block-end: 0em;
  margin-block-start: 0em;
}

#map {
  height: 400px; /* The height is 400 pixels */
  width: 100%; /* The width is the width of the web page */
  margin-top: 40px;
}
