#OurTeam-banniere {
  background-image: url("../../public/images/Notre\ équipe.jpg");
  height: 404px;
  width: 100%;
  background-position: 50% 32.5%;
  background-size: cover;
}

#our-team-presentation-box{
  background-color: #f3f3f3;
}

#our-team-presentation {
  max-width: 1290px;
  padding: 20px;
  padding-top: 50px;
  margin: 0 auto;

  text-align: center;
  font-weight: 500;
}

#organisationaffilier {
  max-width: 1290px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  align-items: center;
  justify-content: center;

  margin-top: 36px;
  margin-bottom: 36px;

  gap: 1.5rem;
}

#organisationaffilier img {
  max-width: 90%;
  height: 5vw;
  min-height: 58px;
  object-fit: fill;
}

#organisationaffilier a{
  color: inherit;
}

#organisation-regie_du_batiment-div {
  display: flex;
  height: 10vw;
  justify-content: center;
  vertical-align: middle;
}

#organisation-regie_du_batiment-div img {
  height: 5vw;
}

@media (max-width: 800px) {
  #OurTeam-banniere {
    position: relative;
    top: 96px;
    height: 50vw;

    width: 100%;
    background-position: 50% 40%;
    background-size: ffill;
  }
}
