#BanniereRealisation {
    background-image: url("/public/images/excavation1.JPEG");
    min-height: 500px;
    block-size: fit-content;
    width: 100%;
    background-size: cover;
    margin-top: 94px;
    background-position-y: 20%;
  }
  
#filtre {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#info {
    display: flex;
    opacity: 1;
    text-align: center;
    justify-content: space-around;
    vertical-align: middle;
    padding-block-start: 2.5rem;
    width: 50%;
    padding-bottom: 2.5rem;
  }

#info h2 {
    font-size: 47px;
    font-family: "Rubik", sans-serif;
    font-weight: bold;
    opacity: 1;

    color: white;
    z-index: 2;
}

#info p {
    font-size: 17px;
    font-family: "Rubik", sans-serif;

    opacity: 1;
    z-index: 2;
    color: white;
}


.container{
  width: 800px;
  margin: auto;
}

.subcontainer{
  width: 90%;
  margin: auto;
}

.grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 2rem;
  overflow-x: hidden;
}

img{
  width: 100%;
  height: auto;
  background-position: center;
}

.img:nth-child(5){
  grid-row: 1/3;
  grid-column: 3/5;
}


@media(max-width:800px){
  .container{
    width: 100%;
  }
}