* {
  box-sizing: border-box;
}

#BanniereRealisation {
  background-image: url("../../public/images/excavation1.JPEG");
  min-height: 500px;
  block-size: fit-content;
  width: 100%;
  background-size: cover;
  margin-top: 94px;
  background-position-y: 20%;
}

#filtre {
  position: relative;
  background-color: rgba(0, 0, 0, 0.5);
  min-height: 500px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

#info {
  display: flex;
  opacity: 1;
  text-align: center;
  justify-content: space-around;
  vertical-align: middle;
  padding-block-start: 2.5rem;
  width: 50%;
  padding-bottom: 2.5rem;
}

#info h2 {
  font-size: 47px;
  font-family: "Rubik", sans-serif;
  font-weight: bold;
  opacity: 1;

  color: white;
  z-index: 2;
}

#info p {
  font-size: 17px;
  font-family: "Rubik", sans-serif;

  opacity: 1;
  z-index: 2;
  color: white;
}

.container {
  width: 1000px;
  margin: auto;
}

.sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}

.gallery {
  display: grid;
  width: 70%;
  height: 100%;
  margin: 5%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 10vw);
  grid-gap: 15px;
  overflow: hidden;
}

.gallery img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.gallery img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#img5{
  grid-column: 1/2;
  grid-row: 2/4;
}

#img7{
  grid-column: 2/4;
  grid-row: 2/3;
}

#img10{
  grid-column: 3/5;
  grid-row: 3/5;
}

#img12{
  grid-column: 1/3;
  grid-row: 1/3;
}

#img17{
  grid-column: 3/5;
  grid-row: 2/5;
}

.subtitle {
  width: 20%;
  text-align: center;
}

.subtitle hr {
  border-top: 1px solid #898989;
}

@media (max-width: 1000px) {
  .container {
    width: 100%;
  }

  .subtitle {
    width: 100%;
  }

  .subtitle:nth-child(1) {
    order: 1;
  }
  .gallery:nth-child(1) {
    order: 2;
  }
  .subtitle:nth-child(2) {
    margin-top: 2rem;
    order: 1;
  }
  .gallery:nth-child(2) {
    order: 2;
  }
  .sub-container {
    width: 100%;
  }

  .gallery {
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 15vw);
  }
}

@media (max-width: 800px) {
  #info {
    width: 90%;
  }

  .gallery:nth-child(1) {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 40vw);
  }
  
  .gallery:nth-child(2) {
    width: 80%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 40vw);
  }

  .img{
    grid-column: auto !important;
    grid-row: auto !important;
  }
}